html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

h1 {
  font-size: 4rem;
  margin: 30px auto;
}

.container {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-15deg) rotateY(-20deg) translateZ(-100px);
          transform: rotateX(-15deg) rotateY(-20deg) translateZ(-100px);
  -webkit-transform-origin: center center -100px;
          transform-origin: center center -100px;
  -webkit-animation: around 5s cubic-bezier(0.94, -0.6, 0.45, 1.31) infinite;
          animation: around 5s cubic-bezier(0.94, -0.6, 0.45, 1.31) infinite;
}
.cube div {
  width: 195px;
  height: 195px;
  display: block;
  margin: 0;
  position: absolute;
}
.cube div a {
  color: white;
  font-size: 8em;
  text-decoration: none;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.cube .front {
  -webkit-transform: rotateY(0deg) translateZ(100px);
          transform: rotateY(0deg) translateZ(100px);
  background-color: rgba(0, 191, 255, 0.7);
  border: 2px solid rgba(0, 191, 255, 0.7);
}
.cube .back {
  -webkit-transform: rotateX(180deg) translateZ(100px);
          transform: rotateX(180deg) translateZ(100px);
  background-color: rgba(124, 252, 0, 0.7);
  border: 2px solid rgba(124, 252, 0, 0.7);
}
.cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
          transform: rotateY(-90deg) translateZ(100px);
  background-color: rgba(255, 215, 0, 0.7);
  border: 2px solid rgba(255, 215, 0, 0.7);
}
.cube .right {
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
  background-color: rgba(255, 69, 0, 0.7);
  border: 2px solid rgba(255, 69, 0, 0.7);
}
.cube .top {
  -webkit-transform: rotateX(90deg) translateZ(100px);
          transform: rotateX(90deg) translateZ(100px);
  background-color: rgba(255, 0, 157, 0.7);
  border: 2px solid rgba(255, 0, 157, 0.7);
}
.cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
  background-color: rgba(184, 111, 220, 0.7);
  border: 2px solid rgba(184, 111, 220, 0.7);
}

@-webkit-keyframes around {
  100% {
    -webkit-transform: rotateX(-15deg) rotateY(-380deg) translateZ(-100px);
            transform: rotateX(-15deg) rotateY(-380deg) translateZ(-100px);
  }
}

@keyframes around {
  100% {
    -webkit-transform: rotateX(-15deg) rotateY(-380deg) translateZ(-100px);
            transform: rotateX(-15deg) rotateY(-380deg) translateZ(-100px);
  }
}

footer {
  background: #232526;
  color: #d6d6d6;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
footer p {
  clear: both;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #656973;
  height: 80px;
  line-height: 80px;
  color: #ebebeb;
}
footer a {
  color: #d6d6d6;
}

/* footer .footer-tips {
  margin: 0;
  height: auto;
  line-height: normal;
  padding: 30px 0 0 0;
  border: none;
  font-size: 12px;
  line-height: 24px;
} */
footer .footer-tips {
  border: none;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}